.home {
    background-color: #fff;
    width: 40%;
    margin: auto;
    text-align: left;
    border-radius: 10px;
    padding: 20px;
    font-family: 'League Spartan', sans-serif;
    color: #000;
}

h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

p {
    font-size: 25px;
    margin: 6px 0;
    font-weight: lighter;
}

.orange {
    color: #ff6600;
    font-weight: bold;
}

.green {
    color: #009933;
    font-weight: bold;
}