@import url('https://fonts.googleapis.com/css2?family=Kode+Mono&display=swap');

.header {
    display: flex;
    flex-direction: row;
    padding: 0px;
    height: 7.7777777777778vh;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

.logo {
    margin-left: 16.15%;
}

.nav-links {
    width: 28.65;
    display: flex;
    margin-left: 8.1481481481481%;
    font-family: 'Kode Mono', monospace;
    font-size: 25px;
    color: gray;
    align-items: center;
    gap: 44px;
    font-size: auto;
}

button {
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #F04E23;
    padding: 0.5em 1em;
    display: inline-block;
    font-size: 1rem;
    cursor: pointer;
}