.header {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-right: 32px;
  width: 100%; 
  margin: 0;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.logo {
  margin: 0;
  font-family: 'Kode Mono', monospace;
  font-size: 40px;
  color: #000;
}

.header > nav {
  flex: 1;
}

.nav-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-list a {
  font-size: 20px;
  color: rgb(87,87,87);
  text-decoration: none;
  font-weight: 500;
  font-family: 'Kode Mono', monospace;
}

.nav-list a:hover {
  color: orange;
}

.btn-login {
  margin-left: auto;
  color: #F2643E;
  padding: 10px 20px;
  border: 2px solid #F2643E;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  transition: transform .2s ease;
  font-family: 'League Spartan', sans-serif;
}

.btn-login:hover {
  transform: scale(1.05);
}

.a {
  box-shadow: inset 0 8px 12px -6px #C4310A, 0 6px 6px -3px #F26
}